@media only screen and (max-width: 768px) {
    .background1{
        margin-top: 10px;
    }
    .dd{
        margin-left: 50px;
    }
    .nav-link{
        margin-left: 0;
    }
    .nav-link2{
        margin-left: 100px;
    }
    .hero {
        margin-left: -150px;
    }
    br h1, br p{
        display: none;
    }
    .image-container {
        margin-top: 10px;
        margin-left: 200px;
        margin-bottom: 100px;
    }
    .tt{
        margin-left: 140px;
    }
}
@font-face {
    font-family: Gilroy;
    src: url(fonts/gilroy-bold.ttf);
    font-family: Gilroy Regular;
    src: url(fonts/gilroy-regular.ttf);
    font-family: Glory Regular;
    src: url(fonts/glory-regular.ttf);
}

.tt{
    text-align: start;
}

h1, h2, h3, h4, h5{
    font-family: Gilroy, 'Comic Sans MS', cursive;
}
p{
    font-family: Glory Regular, 'Comic Sans MS', cursive;
}
body {
    font-family: Gilroy, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.logo img {
    height: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
}

nav ul li .login-btn {
    background-color: #3abdf0;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}
.background1{
    background-color: #e4e6e7;
}

.hero h2 {
    font-size: 2.5em;
    color: #333;
    line-height: 1.5;
    text-align: left;
    margin-left: 300px;
}

.highlight {
    color: #e94e32;
}

.hero p {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
    text-align: left;
    margin-left: 300px;
}
.hero a {
    font-size: 1.2em;
    margin-top: 20px;
    margin-left: 180px;
}

.btn1 {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 50px;
    background-color: #e94e32;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.1em;
}

.image-container {
    margin-top: 100px;
    padding-top: 100px;
}

.hero img {
    width: 50%;
    max-width: 400px;
    height: auto;
}

.nav-link {
    color: #000;
    font-weight: bold;
    margin-left: 10px;
}
.nav-link2 {
    color: #000;
    text-decoration: none;
    margin-left: 500px;
}

.nav-link:hover {
    text-decoration: none;
    color: #00BFFF;
}
.dd{
    margin-left: 100px;
}
.divider {
    border: 1px solid;
    margin: 1.5rem 0;
    width: 100%;
    max-width: 400px;
    margin-left: 300px;
    margin-right: 100px;
  }

  .tech-bubble {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    margin: 5px;
}
.bg-python { background-color: #2D9CDB; }
.bg-db { background-color: #FF6F50; }
.bg-framework { background-color: #4BD071; }
.bg-debug { background-color: #56CCF2; }
.bg-docker { background-color: #2F80ED; }
.bg-os { background-color: #9B51E0; }
.bg-seti{ background-color: #FFB359;}
.tech-image {
    width: 60px;
    height: 60px;
    background-color: #F2F2F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 10px;
}
.tech-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.fon2{
    background-color: #EAF2F5;
    border-radius: 60px;
    margin-bottom: 100px;
}

.feature-box {
    background-color: #EAF2F5;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    height: 300px;
}
.feature-box img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.feature-box p {
    margin: 0;
}
.icon {
    max-width: 500px;
    margin-bottom: 15px;
}

.video-container {
    position: relative;
    padding-top: 450px;
    margin-top: 20px;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.video-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.video-placeholder .play-button {
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}
.video-placeholder:hover .play-button {
    background-color: rgba(255, 0, 0, 0.9);
}
.custom-box-shadow{
    border-radius: 50px;
}

.feature-box2 {
    text-align: start;
    margin-bottom: 20px;
}
.feature-box2 h2 {
    color: #00AEEF;
    font-size: 6rem;
}
.feature-box2 p {
    font-size: 1rem;
    margin-top: 20px;
}
.btn2{
    display: inline-block;
    padding: 15px 25px;
    background-color: #e94e32;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.fon3{
    background-color: #f7f4f4;
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.fon4{
    justify-content: center;
    background-color: #f7f4f4;
    border-radius: 100px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 800px;
}
.border-line {
    border-left: 2px solid #dfdede;
    color: #ffffff;
    height: 270px;
  }

.custom-card {
    border: none;
    background-color: #EAF2F5;
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 20px;
}
.custom-card2 {
    border: none;
    background-color: #EAF2F5;
    padding: 87px;
    border-radius: 40px;
    margin-bottom: 20px;
}
.custom-card img {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 20px;
}
.custom-card h3 {
    font-size: 2em;
    margin-bottom: 15px;
}
.custom-card2 h3 {
    font-size: 2em;
    margin-bottom: 15px;
}
.custom-card p {
    font-size: 1em;
    margin-bottom: 10px;
}
.help-support {
    padding: 77px;
    border-radius: 40px;
}
.image-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 250px;
}
.image-container2 img {
    max-width: 100%;
    height: auto;
}
.col-custom-image {
    max-width: 100px;
    margin: auto;
}
.wrapper {
    max-width: 1200px;
    margin: auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    padding-bottom: 0;
    border-bottom: none;
}
.table th, .table td {
    padding: 1rem;
    vertical-align: top;
    border-top: none;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}
.table th {
    font-weight: 600;
}
.table .table-active {
    font-size: 1.1rem;
}
.table .itog{
    font-weight: 700;
    font-size: 1.3rem;
}

.info-block {
    background-color: #e9f5f8;
    padding: 1.5rem;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-block img {
    width: 100px;
    height: 100px;
    margin-left: 30px;
}
.info-text {
    flex-grow: 1;
    margin-left: 5rem;
    margin-right: 1rem;
    font-size: 1rem;
    color: #495057;
    font-weight: normal;
    font-size: 1rem;
}

.footer {
    padding: 2rem 0;
    background-color: #ffffff;
}
.footer .logo {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.footer .logo span {
    color: #007bff;
}
.footer .logo span:nth-child(2) {
    color: #ff5722;
}
.footer .social-icons a {
    margin-right: 1rem;
    color: #343a40;
    font-size: 1.5rem;
    text-decoration: none;
}
.footer .social-icons a:hover {
    color: #ff5722;
}
.footer .footer-links a {
    color: #343a40;
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: none;
}
.footer .footer-links a:hover {
    color: #007bff;
}
.footer .contact-info {
    color: #8E8E8E;
}
.footer .contact-info a.phone {
    color: #007bff;
    text-decoration: none;
}
.footer .contact-info a.phone:hover {
    color: #0056b3;
}
.footer .contact-info a.email {
    color: #343a40;
    text-decoration: none;
}
.footer .contact-info a.email:hover {
    color: #000000;
}
.footer .bottom-footer {
    color: #6c757d;
    text-align: start;
    margin-left: 100px;
}
.footer .bottom-footer a {
    color: #6c757d;
    margin-right: 1rem;
    text-decoration: none;
}
.footer .bottom-footer a:hover {
    color: #8E8E8E;
}

.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 1rem);
}


.modal-content {
    border-radius: 20px;
    background-color: #f8f9fa;
    padding: 20px;
}
.modal-header {
    border-bottom: none;
    display: flex;
    justify-content: flex-end;
}
.modal-header .btn-close {
    margin: 0;
}
.modal-body {
    text-align: center;
    font-size: 1rem;
}
.modal-footer {
    border: none;
    display: flex;
    justify-content: center;
}

.form-check-input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #F15525;
    border-radius: 0;
    position: relative;
}

.form-check-input[type="radio"]:checked {
    background-color: #F15525;
}
.modal-title-pill {
    background-color: #EAEAEA;
    color: #000;
    border-radius: 50px;
    padding: 5px 20px;
    display: inline-block;
}

.content-container {
    text-align: center;
    margin-top: 20px;
}
.content-container img {
    max-width: 100%;
    height: auto;
}
.content-container .text-content {
    margin-top: 20px;
}
.content-container .btn {
    margin-top: 20px;
}